@model Os.Brain.Models.WaterUser

<table class="tab-list">
    <tr><td class="tl">村庄</td><td class="tr">@Html.DisplayFor(model => model.Wu_Village)</td></tr>
    <tr><td class="tl">用户名</td><td class="tr">@Html.DisplayFor(model => model.Wu_Name)</td></tr>
    <tr><td class="tl">电话</td><td class="tr">@Html.DisplayFor(model => model.Wu_Tel)</td></tr>
    <tr><td class="tl">地址</td><td class="tr">@Html.DisplayFor(model => model.Wu_Address)</td></tr>
</table>