@model Os.Brain.Models.Application


@{
    Layout = "~/Views/Shared/_Modules.cshtml";
}
@section CssBlock{
    .tl{width:350px}
}

@section Btn{
    <li class="list"><i></i><a asp-action="Index">列表</a></li>
    <li class="back"><i></i><a asp-action="details" asp-route-id="@Model.ApplicationId">返回</a></li>
    <li class="delete"><i></i><a asp-action="Delete" asp-route-id="@Model.ApplicationId">删除</a></li>
}

<form asp-action="Edit">
    <div asp-validation-summary="ValidationSummary.ModelOnly" class="text-danger"></div>
    <input type="hidden" asp-for="ApplicationId" />
    <table class="tab-list">
        <tr><td class="tl">应用名称</td><td class="tr"><input asp-for="ApplicationName" style="width:200px" /><span asp-validation-for="ApplicationName" class="text-danger"></span></td></tr>
        <tr><td class="tl">应用描述</td><td class="tr"><input asp-for="Description" style="width:200px" /><span asp-validation-for="Description" class="text-danger"></span></td></tr>
        <tr><td class="tl">排序</td><td class="tr"><input asp-for="OrderBy" style="width:200px" /><span asp-validation-for="OrderBy" class="text-danger"></span></td></tr>
    </table>

    <div style="text-align:right;padding:5px 10px 0 0">
        <input class="btn btn-danger btn-xs" type="submit" value=" 确 定 " />
    </div>
</form>