@model Os.Brain.Models.Path


@{
    Layout = "~/Views/Shared/_Modules.cshtml";
}
@section CssBlock{
    .tl{width:350px}
}

@section Btn{
    <li class="back"><i></i><a asp-action="details" asp-route-id="@Model.PathId">返回</a></li>
}

<form asp-action="Edit">
    <div asp-validation-summary="ValidationSummary.ModelOnly" class="text-danger"></div>
    <input type="hidden" asp-for="PathId" />
    <table class="tab-list">
        <tr><td class="tl">所属应用程序</td><td class="tr">@ViewData["ApplicationName"]<input type="hidden" asp-for="ApplicationId" /></td></tr>
        <tr><td class="tl">父级模块</td><td class="tr">@ViewData["PathName"]<input type="hidden" asp-for="ParentId" /><span asp-validation-for="ParentId" class="text-danger"></span></td></tr>
        <tr><td class="tl">模块编码</td><td class="tr"><input asp-for="PathCategory" style="width:200px" /><span asp-validation-for="PathCategory" class="text-danger"></span></td></tr>
        <tr><td class="tl">模块名称</td><td class="tr"><input asp-for="PathName" style="width:300px" /><span asp-validation-for="PathName" class="text-danger"></span></td></tr>
        <tr><td class="tl">模块地址</td><td class="tr"><input asp-for="_Path" style="width:300px" /><span asp-validation-for="_Path" class="text-danger"></span></td></tr>
    </table>
    <div style="text-align:right;padding:5px 10px 0 0">
        <input class="btn btn-danger btn-xs" type="submit" value=" 确 定 " />
    </div>
</form>

