<?xml version="1.0" encoding="utf-8" ?>
<Config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <ServerUrl>FTP://update:update@lolbt.net/LoLEvilHackV2/updateservice.xml</ServerUrl>
  <UpdateFileList>
    <LocalFile path="LoLEvilHack.exe" lastver="1.5.0.0" size="5335040" />
    <LocalFile path="AutoUpdater.dll" lastver="1.1.0.0" size="20992" />
  </UpdateFileList>
</Config>