@model Os.Brain.Models.Role

@{
    Layout = "~/Views/Shared/_Modules.cshtml";
}

@section CssBlock{
    .tl{width:350px}
}

@{
    var app = ((Application)ViewData["Application"]);
    var path = ViewData["Parent"] == null ? null : ((Path)ViewData["Parent"]);
}

@section Btn{
    <li class="back"><i></i><a asp-action="Index">返回</a></li>
}

<form asp-action="Create">
    <div asp-validation-summary="ValidationSummary.ModelOnly" class="text-danger"></div>

    <table class="tab-list">
        <tr><td class="tl">角色名称</td><td class="tr"><input asp-for="Name" style="width:300px" /><span asp-validation-for="Name" class="text-danger"></span></td></tr>
    </table>

    <div style="text-align:right;padding:5px 10px 0 0">
        <input class="btn btn-danger btn-xs" type="submit" value=" 确 定 " />
    </div>
</form>