@model Os.Brain.Models.Role


@{
    Layout = "~/Views/Shared/_Modules.cshtml";
}
@section CssBlock{
    .tl{width:350px}
}

@section Btn{
    <li class="list"><i></i><a asp-action="Index">列表</a></li>
    <li class="back"><i></i><a asp-action="details" asp-route-id="@Model.Id">返回</a></li>
    <li class="delete"><i></i><a asp-action="Delete" asp-route-id="@Model.Id">删除</a></li>
}

<form asp-action="Edit">
    <div asp-validation-summary="ValidationSummary.ModelOnly" class="text-danger"></div>
    <input type="hidden" asp-for="Id" />
    <input type="hidden" asp-for="ConcurrencyStamp" />

    <table class="tab-list">
        <tr><td class="tl"><label asp-for="Name" class="col-md-2 control-label"></label></td><td class="tr"><input asp-for="Name" style="width:200px" /><span asp-validation-for="Name" class="text-danger"></span></td></tr>
    </table>

    <div style="text-align:right;padding:5px 10px 0 0">
        <input class="btn btn-danger btn-xs" type="submit" value=" 确 定 " />
    </div>
</form>

