@model Os.Brain.Models.WaterValue

@{
    Layout = "~/Views/Shared/_Modules.cshtml";
}
@section CssBlock{
    .tl{width:350px}
}

@section Btn{
    <li class="list"><i></i><a asp-action="Index">列表</a></li>
}

<form asp-action="Edit">
    <div class="form-horizontal">
        <h4>WaterValue</h4>
        <hr />
        <div asp-validation-summary="ValidationSummary.ModelOnly" class="text-danger"></div>
        <input type="hidden" asp-for="Wm_IdCard" />
        <input type="hidden" asp-for="Wv_Year" />
        <input type="hidden" asp-for="Wv_Month" />

        <table class="tab-list">
            <tr><td class="tl">开始吨位</td><td class="tr"><input asp-for="Wv_Start" style="width:200px" /><span asp-validation-for="Wv_Start" class="text-danger"></span></td></tr>
            <tr><td class="tl">截止吨位</td><td class="tr"><input asp-for="Wv_End" style="width:200px" /><span asp-validation-for="Wv_End" class="text-danger"></span></td></tr>
            <tr><td class="tl">知否换表</td><td class="tr"><input asp-for="Wv_ExChange" style="width:200px" /><span asp-validation-for="Wv_ExChange" class="text-danger"></span></td></tr>
            <tr><td class="tl">状态</td><td class="tr"><input asp-for="Wv_Status" style="width:200px" /><span asp-validation-for="Wv_Status" class="text-danger"></span></td></tr>
        </table>

        <div style="text-align:right;padding:5px 10px 0 0">
            <input class="btn btn-danger btn-xs" type="submit" value=" 确 定 " />
        </div>
    </div>
</form>