@model Os.Brain.Models.PricesType


<table class="tab-list">
    <tr><td class="tl">编号</td><td class="tr">@Html.DisplayFor(model => model.ids)</td></tr>
    <tr><td class="tl">名称</td><td class="tr">@Html.DisplayFor(model => model.name)</td></tr>
    <tr><td class="tl">是否启用</td><td class="tr">@Html.DisplayFor(model => model.isUse)</td></tr>
    <tr><td class="tl">添加时间</td><td class="tr">@Html.DisplayFor(model => model.addTime)</td></tr>
</table>


