@model Os.Brain.Models.WaterPrices

<table class="tab-list">
    <tr><td class="tl">价格</td><td class="tr">@Html.DisplayFor(model => model.Prices_Value)</td></tr>
    <tr><td class="tl">开始吨位</td><td class="tr">@Html.DisplayFor(model => model.Prices_Start)</td></tr>
    <tr><td class="tl">结束吨位</td><td class="tr">@Html.DisplayFor(model => model.Prices_End)</td></tr>
    <tr><td class="tl">添加时间</td><td class="tr">@Html.DisplayFor(model => model.Prices_AddTime)</td></tr>
</table>
